<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ziba Tokyo{% endblock %}</title>
        <meta name="robots" content="noindex">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
          <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        {% endblock %}
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" id="closeMenuBurger" class="closebtn" onclick="closeNav()">&times;</a>
          <span id="nav_user">{{ app.user.username }}</span>
          <a id="logout" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          <a href="{{ path('homePage') }}">Home page</a>
          <a href="mailto:info@ziba-tokyo.com?subject=Intranet">Contact</a>
        </div>
        <i id="menuBurger" class="fas fa-bars"></i>
        {% block body %}{% endblock %}
        <!-- FOOTER -->
        <footer>
          <p>DO YOU NEED HELP?</br>SOMETHING WRONG HAPPENED?</p>
          <span id="contact">info@ziba-tokyo.com +81.03.3518.9095</span>
          <span id="copyright">2019 © Ziba Tokyo - All rights reserved</span>
        </footer>
        {% block javascripts %}
          <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
